{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.instagram.com/apervm/"  target="_blank"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/almas-perneshev/"  target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/apervmm"  target="_blank"><img src="{% static 'images/github1.png' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->